name: Ppx_yaml
on:
  push:
    branches: 
      - main
jobs:
  run:
    name: Tests
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [macos-latest, ubuntu-latest, windows-latest]
        ocaml-version: [ '4.10.0', '4.09.0', '4.08.1' ]
    steps:
    - uses: actions/checkout@master
    - uses: avsm/setup-ocaml@v1.1
      with:
        ocaml-version: ${{ matrix.ocaml-version }}
    - run: opam pin add ppx_yaml.dev -n .
    - name: Packages
      run: opam depext -yt ppx_yaml
    - name: Dependencies
      run: opam install -t . --deps-only
    - name: Build
      run: opam exec -- dune build
    - name: Test
      run: opam exec -- dune runtest